doctype html
html
  head
    title= title
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width-device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  body
    header(style="display: flex; flex-direction: column;")
      h1(style="padding: 0 1rem;") Inventory Management Service
      nav
        a(href="/catalog/") Home
        a(href="/catalog/categories") All Categories
        a(href="/catalog/items") All Items 
        a(href="/catalog/categories/new") New Category
        a(href="/catalog/items/new") New Item

    hr
    main(style="padding: 0 1rem")    
      block content 